<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>表格记录增删改查</title>
    <style type="javaScript">
       tr{
         text-align:center;
       }
    </style>
   
  <!--  <script type="text/javascript">
       //通过新增按钮来控制表格的显示与隐藏
       var optionFlag = "save";
       var updateRowIndex = -1;
       var checkFlag=false;//默认为不显示
       function show() {
         optionFlag = "save";
         var f = document.getElementById("did");//获得id为did的 div
           if(!checkFlag) {
              f.style.visibility="visible";
           }else{
              f.style.visibility="hidden";
           }
           checkFlag=!checkFlag;
       }
      
       //通过保存按钮将数据添加到表格中
       function insertRow_() {
         switch(optionFlag) {
            case "save" :
               insertRow_$save();
               break;
            case "update" :
               insertRow_$update();
               break;
            default :
               alert("操作失败！！"); 
         }
        
         function insertRow_$save() {
            //通过id获得要添加数据的表格
          var table = document.getElementById("tableid");
         
          //将所输入的内容赋给定义的变量
          var titleName = document.getElementById("title").value;
          var digestName = document.getElementById("digest").value;
          var authorName = document.getElementById("author").value;
          //获取下拉框内的内容
          var selectIndex_ = document.getElementById("select");
          var option = selectIndex_.options[selectIndex_.selectedIndex];
          var selectName = option.text;
         
          //获取编号的内容
          var numberid = table.rows.length;
         
          //在表尾添加一行数据
          var row_ = table.insertRow(table.rows.length);
 
          row_.insertCell(0).innerHTML = numberid;
          row_.insertCell(1).innerHTML = titleName;
          row_.insertCell(2).innerHTML = digestName;
          row_.insertCell(3).innerHTML = authorName;
          row_.insertCell(4).innerHTML = selectName;
          row_.insertCell(5).innerHTML = '<input type="button" value="修改" onclick="update_(this.parentNode.parentNode)"></input>&nbsp;<input type="button" value="删除" onclick="delete_(this.parentNode.parentNode)"></input>';
         
          document.getElementById("title").value = "";
          document.getElementById("digest").value = "";
          document.getElementById("author").value = "";
          document.getElementById("select").options[0].selected="true";
         
          var f = document.getElementById("did");
          f.style.visibility="hidden";
         
          alert("insert数据成功！！");
         }
         //修改后的保存
         var tr;
         function insertRow_$update() {
             var table = document.getElementById("tableid");
             tr = table.rows[updateRowIndex];
            
             var p = document.getElementById("title");
             tr.cells[1].innerHTML = p.value;
            
             p = document.getElementById("digest");
             tr.cells[2].innerHTML = p.value;
            
             p = document.getElementById("author");
             tr.cells[3].innerHTML = p.value;
            
             p = document.getElementById("select");
             var Index_ = p.selectedIndex;
             var option = p.options[Index_];
             var selectName = option.text;
             tr.cells[4].innerHTML = selectName;
            
             document.getElementById("title").value = "";
          document.getElementById("digest").value = "";
          document.getElementById("author").value = "";
          document.getElementById("select").options[0].selected="true";
            
             var f = document.getElementById("did");
             f.style.visibility="hidden";
            
             alert("update数据成功！！");
         }
       }
      
       //通过删除按钮  删除当前所在行
       function delete_(row_) {
         var table = document.getElementById("tableid");
         table.deleteRow(row_.rowIndex);
        
         refurbish_();
         alert("delete数据成功！！");
       }
      
       //刷新
       function refurbish_() {
         var table = document.getElementById("tableid");
         //获得table的行数
         var rows = table.rows;
         for(var i=1;i<rows.length;i++) {
           rows[i].cells[0].innerHTML = i;
         }
       }
      
       //通修改按钮对table里的数据进行修改
       function update_(row) {
         updateRowIndex = row.rowIndex;
         optionFlag = "update";
         //对table里的数据进行回显
         document.getElementById("title").value = row.cells[1].innerHTML;
         document.getElementById("digest").value = row.cells[2].innerHTML;
         document.getElementById("author").value = row.cells[3].innerHTML;
         var selectText = row.cells[4].innerHTML;
         var sel = document.getElementById("select");
         var ops = sel.options;
         for(var i=0;i<ops.length;i++) {
            if(selectText==ops[i].text) {
               sel.options[i].selected = "true"; 
            }
         }
         var f = document.getElementById("did");
         f.style.visibility="visible";
       }
    </script>-->
	<link type="text/css" href="../list/css/layout.css" rel="stylesheet" />
	
	

	
	
  </head>
 
  <body>
  <input name="button" type="button" onclick="show()" value="新增" />
  </input>
<div>
<table cellspacing="0" cellpadding="0" border="1" id="tableid"  width="90%">
         <tr bgcolor="white">
            <th>姓名</th>
             <th>e-mail</th>
             <th>简介</th>
             <th>操作</th>
         <!--   <th>姓名</th>
            <th>E-Mail</th>
            <th>电话号</th>
            <th>所属角色</th> -->
         </tr>
    #foreach($teach in $teachList)
         <tr>
             <td>${teach.teachName}</td>
             <td>${teach.teachEmail}</td>
             <td>${teach.teachIntroduce}</td>
             <td><input type="button" value="删除" onclick="delete_(this.parentNode.parentNode)"></td>
         </tr>
    #end
            <!--<td>老皮</td>
         --   <td>1111@qq.com</td>
            <td>1888888888</td>
            <td>系统管理员</td>
            <td>
               <input type="button" value="修改" onclick="update_(this.parentNode.parentNode)"></input>
               <input type="button" value="删除" onclick="delete_(this.parentNode.parentNode)"></input>
            </td>
         </tr>-->
  </table>
    </div>
	
	#set($pageTeachNum=10)
    #set($currentPage= $offsetPage + 1)
    #set($pageNum= $teachNum / $pageTeachNum + 1)
	<hr />
	<div>
		<div class="paginationWrap">
			<div style="overflow: hidden; clear: both;">
				<div style="float: right;">
					<div class="pagination pagination-large">
						<ul>
                            #if($currentPage!=1)
                            <li class="disabled">
                                <a href="0">首页</a>

                            </li>
                            #end
                            #if($currentPage>1)
                            #set($prePage= $offsetPage - 1)
                            <li id="backpage" class="disabled">
                                <a href="$!{prePage}">←上一页</a>
                            </li>
                            #end
                            #if($currentPage<$pageNum)
                            #set($nextPage= $offsetPage + 1)
                            <li id="nextpage" class="disabled">
                                <a href="$!{nextPage}">下一页→</a>
                            </li>
                            #end
                            #if($currentPage!=$pageNum)
                            #set($endPage= $pageNum - 1)
                            <li class="disabled">
                                <a href="$!{endPage}">尾页 </a>
                            </li>
                            #end
                            <!--
								<li class="c_333">
								<tt class="ml10 disIb">&nbsp;第</tt>
								<input type="text" id="pageNoIpt" size="4" style="height: 16px; margin-top: 2px; width: 24px; border: 1px solid #999999;">
								<tt class="ml10 disIb">页&nbsp;</tt>
								<input type="button" onclick="gout()" value="确定" cPageByInplass="button">
								&nbsp;&nbsp;
							</li>-->
						</ul>
					</div>
				</div>
				<div style="float: left;" class="pageDesc">
					<span>共查询到&nbsp;$!{teachNum}&nbsp;条记录，当前第&nbsp;${currentPage}/${pageNum}&nbsp;页</span>
				</div>
			</div>
		</div>
	</div>
   
	
	
 <br>
    <div align="center" id="did" style="visibility:hidden">
       <form action="">
         <table>
          <tr>
      <td>姓名：</td>
      <td><input type="text" id="title"></input></td>
      <td>Email：</td>
      <td><input type="text" id="digest"></input></td>
    </tr>
  
    <tr>
      <td>电话：</td>
      <td><input type="text" id="author"></input></td>
      <td>所属角色：</td>
      <td align="left">
       <select id="select">
          <option value="0">请选择</option>
		 <option value="1">系统管理员</option>
		 <option value="2">老师</option>
		<option value="3">普通管理员</option>
		<option value="4">销售</option>
       </select>
      </td>
    </tr>
   </table>

 
   <br>  
      <center>
         <input type="button" value="保存" onclick="insertRow_()"></input>
         <input type="reset" value="重置"></input>
      </center>
      </form>
   </div>
 </body>
</html>