<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>算法皮</title>


<link rel="stylesheet" type="text/css"  href="../css/reset.css">
<link rel="stylesheet" type="text/css"  href="../css/global.css">
<link rel="stylesheet" type="text/css"  href="../css/web.css">
<link rel="stylesheet" type="text/css"  href="../css/theme.css">

<!--[if lt IE 9]>
	<!--<script src="http://127.0.0.1:82/static/common/html5.js"></script>-->
	<![endif]-->
<script type="text/javascript"  src="../js/jquery-1.7.2.min.js"></script>
<script type="text/javascript"  src="../js/common.js"></script>







</head>
<body class="W-body">
	
		<!-- 公共头引入 -->
		<!-- /global header begin-->
<header id="header">
	<section class="container">
		
		<div class="h-r-nsl">
			<ul class="nav">
				<li><a href="../../index.html" title="首页" >首页</a></li>
				<li><a href="../../lesson/lesson mode.html" title="课程" >课程</a></li>
				<li><a href="../teacher.html" title="名师" >名师</a></li>
				  <li><a>问答</a></li>
				</ul>
			
			

		</div>
		<aside class="mw-nav-btn">
			<div class="mw-nav-icon"></div>
		</aside>
		<div class="clear"></div>
	</section>
</header>


<script>
	$(function() {
		wmNavFun(); // 手机端导航方法
		goTopFun(); //返回顶部
	})
</script><!-- 公共头引入 -->
	
	<div id="aCoursesList" class="bg-fa of">
		<!-- /课程列表 开始 -->
		<section class="container">
			<header class="comm-title">
				<h2 class="fl tac">
					<span class="c-333">讲师介绍</span>
				</h2>
			</header>
			<div class="t-infor-wrap">
				<div class="fl t-infor-menu">
					<section id="t-infor-menu" class="c-tab-title">
						<p>
							<a class="current" name="c-desc" title="讲师详情" href="javascript: void(0)">讲师详情</a>
						</p>
						<p>
							<a title="主讲课程" name="c-course" href="javascript: void(0)">主讲课程</a>
						</p>
					</section>
				</div>
				<section class="fl t-infor-box c-desc-content">
					<div class="mt20 ml20">
						<section class="t-infor-pic">
							<img src="../picture.png" alt="">
								</section>
						<h3 class="hLh30">
							<span class="fsize24 c-333">$!{teach.teachName}&nbsp;</span>
						</h3>
						<section class="mt10">
							<span class="t-tag-bg">高级讲师</span>
						</section>
						<section class="t-infor-txt">
							<p class="mt20">$!{teach.teachIntroduce}</p>
						</section>
						<div class="clear"></div>
					</div>
				</section>
				<div class="clear"></div>
			</div>
			<section class="mt30">
				<div>
					<header class="comm-title all-teacher-title c-course-content">
						<h2 class="fl tac">
							<span class="c-333">主讲课程</span>
						</h2>
						<section class="c-tab-title">
							<a href="javascript: void(0)">&nbsp;</a>
						</section>
					</header>
					<!-- /无数据提示 开始-->
					<!-- /无数据提示 结束-->
					<article class="comm-course-list">
						<ul class="of">
							#foreach($course in $courseList)
							<li>
										<div class="cc-l-wrap">
											<section class="course-img">
												<img src="../1442295455437.jpg" class="img-responsive" alt="">
													<div class="cc-mask">
													<a href="../../lesson/class/class1.html" title="开始学习" class="comm-btn c-btn-1">开始学习</a>
												</div>
											</section>
											<h3 class="hLh30 txtOf mt10">
												<a href="" title="C4D零基础" class="course-title fsize18 c-333">$!{course.courseName}</a>
											</h3>
										</div>
							</li>
							#end
						</ul>
						<div class="clear"></div>
					</article>
				</div>
				<!-- 公共分页 开始 -->
				<div>
					
					<script type="text/javascript"  src="../JS/page.js"></script>
<div class="paging"> 
		
		<div class="clear"></div>
	</div>


<script type="text/javascript">
    var totalPageSize =1;
    var currentPage =
    0<1 ? 1 :1;
    var totalPage = 1;
    showPageNumber();
</script></div>
				<!-- 公共分页 结束 -->
			</section>
		</section>
		<!-- /课程列表 结束 -->
	</div>
	<script>
		$(function() {
			cTabFun($("#t-infor-menu>p>a")); // 滚动定位
			scrollLoad(); //响应滚动加载课程图片
		})
	</script>
<!-- 公共底引入 -->
		

<!-- 公共底引入 -->
	</div>

	<!-- 统计代码 -->
	</body>
</html>
